body{
    height:5000px
}

.container-fluid {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;

}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

header {
    background-color: #000;
    color: #fff;
    position: sticky;
    top: 0;
    opacity: 0.7;
    z-index: 10;

}

header .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .container-fluid ul{
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

header .container-fluid ul li{
    list-style: none;
}

header .container-fluid ul li a{
    height: 100%;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    
}

header .container-fluid .lang .lang__default p{
    display: inline;
}

main .products .container{
    display: flex;
    flex-direction: column;
}

main .products .container .items{
    display: flex;
    margin-bottom: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .products .container .items:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}

main .products .container .items .items__description{
    width: 50%;
    text-align: center;
    margin: auto;
}

main .products .container .items .items__img{
    width: 50%;
}

main .news{
    margin-top: 50px;
    margin-bottom: 50px;
}

main .news .container{

}

main .news .news__list{
    display: flex;
}

main .news .news__list .news__item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

main .news .news__list .news__item p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .about .container{
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
}

main .gallery{
    background-color: #000;
    padding-top: 90px;
    padding-bottom: 90px;
    color: #fff;
}
main .gallery .container .gallery__grid{
    display: grid;
}

main .gallery .container .gallery__grid-item{
    height: 200px;
    position: relative;
    overflow: hidden;
}

main .gallery .container .gallery__grid .item1 {
    grid-column: 1 / 2;
    grid-row: 1;
}

main .gallery .container .gallery__grid .item2 {
    grid-column: 1 / 2;
    grid-row: 2;
}
main .gallery .container .gallery__grid .item3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 400px;
    width: 100%;
}
main .gallery .container .gallery__grid .item4 {
    grid-column: 3 / 4;
    grid-row: 1;
}

main .gallery .container .gallery__grid .item5 {
    grid-column: 3 / 4;
    grid-row: 2;
}

main .gallery .container .gallery__grid .gallery__grid-item img{
    width:100%;
    height:100%;
    object-fit:cover;
    
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    margin: 10px;
    z-index: 1;
}

footer{
    background-color: #000;
    color: #fff;
    height:60px;

}
footer .container .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hidden item */

.slider{
    display: none;
}

/* .products{
    display: none;
} */

.videos{
    display: none;
}

/* .about{
    display: none;
} */
.info{
    display: none;

}